.header-container {
}

.open-menu-closed {
	display: none;
}

.open-menu-open {
	display: block;
	height: 180px;
	width: 150px;
	max-width: 500px;
	background-color: #f2f2f2;
	position: relative;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto auto auto 70px;
}

.link-container {
	height: 50px;
	padding: 10px;
	width: 100%;
	max-width: 413px;
	text-decoration: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.link-container a:hover {
	border-bottom: 2px black;
}

.link-container a {
	text-decoration: none;
	color: black;
}

.open-menu-open h1 {
	color: black;
	z-index: 100;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
}

.navigation a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
	color: #828282;
	font-size: 14px;
}

.navigation a:hover {
	border-bottom: 3px solid grey;
	margin-top: 5px;
}

.navigation {
	display: flex;
	flex: 0.7;
	justify-content: flex-end;
}

.navigation ul {
	display: flex;
	flex-direction: row;
}

.navigation ul li {
	list-style: none;
	justify-content: space-between;
	margin-left: 100px;
}

.emergency-section {
	border: 2px solid red;
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	height: 20px;
	margin-right: 10px;
}

.emergency-section span {
	font-size: 12px;
	color: red;
	font-weight: bolder;
}

.emergency-phone {
	margin-right: 7px;
	border: 2px solid red;
	border-radius: 10px;
	height: 24px;
}

.emergency-section:hover {
	box-shadow: 0 4px 2px -2px red;
	cursor: pointer;
}

.logo {
	height: 45px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-btn {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	cursor: pointer;
	margin-right: 5px;
}

.emergency {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1043px) {
	.navigation {
		display: none !important;
	}
	.menu-btn {
		display: flex;
	}

	.emergency-section {
		height: 15px;
	}
}

@media screen and (max-width: 589px) {
	.navigation {
		display: none !important;
	}
	.menu-btn {
		display: flex;
	}

	.emergency-section {
		padding: 10px;
		height: 10px;
		margin-right: 10px;
	}

	.emergency-section span {
		font-size: 9px;
	}

	.emergency-phone {
		height: 20px;
	}
}

@media screen and (max-width: 400px) {
	.emergency-section {
		display: none;
	}
}

@media screen and (max-width: 260px) {
	.nav {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-btn {
		height: 20px;
	}
}
