.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.loading h3 {
  font-size: 33px;
  color: #828282;
  font-weight: bolder;
  letter-spacing: 7px;
}
