body {
	margin: 0;
	padding: 0 1.5rem;
}

svg {
	display: inline-block;
	vertical-align: middle;
	height: calc(110vh - 10vmax);
	border: none;
}

.svg rect {
	border: none;
	outline: none;
}

#mapid {
	height: 180px;
	width: 100px;
}

.map {
	height: 80vh !important;
	border-radius: 10px;
}

.map-container {
	width: 70%;
	height: 80vh;
	margin-top: 40px;
	border: 2px solid gray;
	border-radius: 10px;
}

.leaflet-popup-content-wrapper {
	box-shadow: 0 2px 2px 3px gray;
	background-color: #f2f2f2;
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.leaflet-popup-content-wrapper h3 {
	color: red;
}
